 <!--header section start-->
 <header class="main-header w-100">
  <nav class="navbar navbar-expand-xl navbar-light sticky-header">
      <div class="container d-flex align-items-center justify-content-lg-between position-relative">
          <a href="index.html" class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none">
              <img src="assets/img/logo-white.png" alt="logo" class="img-fluid logo-white" />
              <img src="assets/img/logo-color.png" alt="logo" class="img-fluid logo-color" />
          </a>

          <a class="navbar-toggler position-absolute right-0 border-0" href="#offcanvasWithBackdrop" role="button">
              <span class="far fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"></span>
          </a>
          <div class="clearfix"></div>
          <div class="collapse navbar-collapse justify-content-center">
              <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                  <li class="nav-item dropdown">
                      <a class="nav-link" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Home
                      </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">About</a>
                    <div class="dropdown-menu border-0 rounded-custom shadow py-0 bg-white">
                        <div class="dropdown-grid rounded-custom width-full">
                            <div class="dropdown-grid-item">
                                <h6 class="drop-heading">About Us</h6>
                                <a routerLink="/about-us" class="dropdown-link px-0">
                                    <span class="me-2"><i class="far fa-fingerprint"></i></span>
                                    <div class="drop-title">About Company</div>
                                </a>
                                <a routerLink="/values" class="dropdown-link px-0">
                                    <span class="me-2"><i class="far fa-address-book"></i></span>
                                    <div class="drop-title">Differentiator </div>
                                </a>
                                <a href="#" class="dropdown-link">
                                    <span class="me-2"><i class="far fa-code-branch"></i></span>
                                    <div class="drop-title">Privacy Policy</div>
                                </a>
                                <a href="#" class="dropdown-link px-0">
                                    <span class="me-2"><i class="far fa-server"></i></span>
                                    <div class="drop-title">Risk Disclaimer</div>
                                </a>
                                <a href="#" class="dropdown-link">
                                    <span class="me-2"><i class="far fa-th-large"></i></span>
                                    <div class="drop-title">Terms & Conditions</div>
                                </a>
                                <a routerLink="/contact-us" class="dropdown-link">
                                    <span class="me-2"><i class="far fa-bars"></i></span>
                                    <div class="drop-title">Contact Us</div>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </li>
                  <li><a routerLink="/signal-provider" class="nav-link">Signal Providers</a></li>
                  <li><a routerLink="/investors" class="nav-link">Investors </a></li>
                  <li><a routerLink="/pricing" class="nav-link">Pricing</a></li>
                  <li><a routerLink="/guide" class="nav-link">Guide</a></li>
                  <li><a routerLink="/mobile-app" class="nav-link">Mobile App</a></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Access</a>
                    <div class="dropdown-menu border-0 rounded-custom shadow py-0 bg-white">
                        <div class="dropdown-grid rounded-custom width-full">
                            <div class="dropdown-grid-item">
                                <h6 class="drop-heading">Access</h6>
                                <a routerLink="/sign-up" class="dropdown-link px-0">
                                    <span class="me-2"><i class="far fa-fingerprint"></i></span>
                                    <div class="drop-title">Sign Up</div>
                                </a>
                                <a routerLink="/sign-in" class="dropdown-link px-0">
                                    <span class="me-2"><i class="far fa-address-book"></i></span>
                                    <div class="drop-title">Sign In </div>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dashboard</a>
                  <div class="dropdown-menu border-0 rounded-custom shadow py-0 bg-white">
                      <div class="dropdown-grid rounded-custom">
                          <div class="dropdown-grid-item">
                              <h6 class="drop-heading">Dashboard</h6>
                              <a routerLink="/dashboard" class="dropdown-link px-0">
                                  <span class="me-2"><i class="far fa-fingerprint"></i></span>
                                  <div class="drop-title">Dashboard</div>
                              </a>
                              <a routerLink="/my-account" class="dropdown-link px-0">
                                  <span class="me-2"><i class="far fa-address-book"></i></span>
                                  <div class="drop-title">My Account </div>
                              </a>
                              <a routerLink="/signal-provider" class="dropdown-link px-0">
                                <span class="me-2"><i class="far fa-address-book"></i></span>
                                <div class="drop-title">Signals Providers </div>
                            </a>
                            
                          </div>
                      </div>
                  </div>
              </li>
                 
              </ul>
          </div>

          <div class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block">
              <a routerLink="/sign-in" class="btn btn-link text-decoration-none me-2">Sign In</a>
              <a href="request-demo.html" class="btn btn-primary">Get Started</a>
          </div>

          <!--offcanvas menu start-->
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop">
              <div class="offcanvas-header d-flex align-items-center mt-4">
                  <a href="index.html" class="d-flex align-items-center mb-md-0 text-decoration-none">
                      <img src="assets/img/logo-color.png" alt="logo" class="img-fluid ps-2" />
                  </a>
                  <button type="button" class="close-btn text-danger" data-bs-dismiss="offcanvas" aria-label="Close">
                      <i class="far fa-close"></i>
                  </button>
              </div>
              <div class="offcanvas-body">
                  <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Home
                          </a>
                      </li>
                      
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">About Us</a>
                          <div class="dropdown-menu border-0 rounded-custom shadow py-0 bg-white">
                              <div class="dropdown-grid rounded-custom width-full-3">
                                  <div class="dropdown-grid-item">
                                      <h6 class="drop-heading">About Us</h6>
                                      <a href="header.html" class="dropdown-link">
                                          <span class="me-2"><i class="far fa-bars"></i></span>
                                          <div class="drop-title">About Company</div>
                                      </a>
                                      <a href="hero-sections.html" class="dropdown-link">
                                          <span class="me-2"><i class="far fa-browser"></i></span>
                                          <div class="drop-title">Differentiator</div>
                                      </a>
                                      <a href="testimonials.html" class="dropdown-link">
                                          <span class="me-2" ><i class="far fa-address-card"></i></span>
                                          <div class="drop-title">Privacy Policy</div>
                                      </a>
                                      <a href="call-to-action.html" class="dropdown-link">
                                          <span class="me-2"><i class="far fa-bolt"></i></span>
                                          <div class="drop-title">Risk Disclaimer</div>
                                      </a>
                                      <a href="tab-style.html" class="dropdown-link">
                                          <span class="me-2"><i class="far fa-eject"></i></span>
                                          <div class="drop-title">Terms & Conditions</div>
                                      </a>
                                      <a href="services-style.html" class="dropdown-link">
                                          <span class="me-2"><i class="far fa-code-branch"></i></span>
                                          <div class="drop-title">Contact Us</div>
                                      </a>
                                     
                                  </div>
                                  <div class="dropdown-grid-item last-item bg-light radius-right-side">
                                      <a href="#"><img src="assets/img/feature-img3.jpg" alt="add" class="img-fluid rounded-custom" /></a>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li><a href="https://quiety.themetags.com/service-single.html" class="nav-link">Signal Providers</a></li>
                      <li><a href="https://quiety.themetags.com/features.html" class="nav-link">Investors </a></li>
                      <li><a href="https://quiety.themetags.com/pricing.html " class="nav-link">Pricing</a></li>
                      <li><a href="https://quiety.themetags.com/service-single.html " class="nav-link">Guide</a></li>
                      <li><a href="#" class="nav-link">Mobile App</a></li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Access</a>
                          <div class="dropdown-menu border-0 rounded-custom shadow py-0 bg-white">
                              <div class="dropdown-grid rounded-custom">
                                  <div class="dropdown-grid-item">
                                      <h6 class="drop-heading">Access</h6>
                                      <a href="about-us.html" class="dropdown-link px-0">
                                          <span class="me-2" ><i class="far fa-fingerprint"></i></span>
                                          <div class="drop-title">Sign Up</div>
                                      </a>
                                      <a href="contact-us.html" class="dropdown-link px-0">
                                          <span class="me-2"><i class="far fa-address-book"></i></span>
                                          <div class="drop-title">Sign In</div>
                                      </a>
                                      
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dashboard</a>
                        <div class="dropdown-menu border-0 rounded-custom shadow py-0 bg-white">
                            <div class="dropdown-grid rounded-custom width-full-3">
                                <div class="dropdown-grid-item">
                                    <h6 class="drop-heading">Dashboard</h6>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-bars"></i></span>
                                        <div class="drop-title">My Account</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2"><i class="far fa-browser"></i></span>
                                        <div class="drop-title">Differentiator</div>
                                    </a>
                                    <a href="#" class="dropdown-link">
                                        <span class="me-2" ><i class="far fa-address-card"></i></span>
                                        <div class="drop-title">Privacy Policy</div>
                                    </a>
                                   
                                   
                                </div>
                                <div class="dropdown-grid-item last-item bg-light radius-right-side">
                                    <a href="#"><img src="assets/img/feature-img3.jpg" alt="add" class="img-fluid rounded-custom" /></a>
                                </div>
                            </div>
                        </div>
                    </li>
                  </ul>
                  <div class="action-btns mt-4 ps-3">
                      <a routerLink="/sign-in" class="btn btn-outline-primary me-2">Sign In</a>
                      <a href="request-demo.html" class="btn btn-primary">Get Started</a>
                  </div>
              </div>
          </div>
          <!--offcanvas menu end-->
      </div>
  </nav>
</header>
<!--header section end-->
<router-outlet></router-outlet>
